body {
    background-color: #f7f8fc;
    background-image: url('images/background.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 42px;
    text-align: center;
    color: #011229;
}
h1 > span {
    color: #965fe8;
}
.container {
    display: flex;
    margin: 55px 0 0;
    flex-flow: row wrap;
    justify-content: center;
}
.gap-course {
    row-gap: 1rem;
    column-gap: 2rem;
}
.gap-price {
    row-gap: 1rem;
    column-gap: 1rem;
}
.circle {
    display: table-cell;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: rgba(236, 230, 246, 0.5);
    padding: 80px;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px rgb(211, 189, 245);;
}
.course {
    width: auto;
    height: 100%;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    padding: 7px;
    box-sizing: border-box;
}
.course-img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}
.course-details {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}
.course-name {
    font-size: 20px;
    margin-bottom: 8px;
    color: black;
}
#line-separator {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    background-color: #e4c1c1;
}
.price {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 16px 0 0;
}
#new-price {
    color: #915ae3;
    margin: 0;
}
#old-price {
    color: #25272a;
    margin: 0;
}
#discount {
    color: white;
    background-color: #1dd1a1;
    border-radius: 7px;
    margin: 0;
    padding: 6px 10px;
    box-sizing: border-box;
}
footer {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgba(151, 149, 155, 0.15);
    margin: 25px 0 0;
    text-align: center;
    padding: 1px;
}